#banner{

    background-image: url(img/cpc.jpg);
    background-size: cover;
    padding: 20% 2%;
    position:relative;
    z-index:1;
}

#banner::after{
    content: '';
    position:absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    left:0;
    top:0;
    opacity:0.55;
    z-index:-1; 
}

#banner h1{
    color:white;
    position:relative;
}

.bg-dark{
    background-color:transparent !important;
}





